
/*Get Color Schema*/
:root {
    /*Main colors see https: //coolors.co/user/palettes/6865d2561eaf9e000b8ee83a*/
    --colors-backgrounds-main: lavender;
    --colors-font-highlights: #4A638C;
    --colors-font-other: #185475;
    --colors-backgrounds-banners: #13152C;
    --colors-backgrounds-other: #185475;
    --colors-foregrounds-left: #1A264D;
    --colors-foregrounds-right: #81A1B3;

    /*Metals*/
    --colors-other-highlight: goldenrod;
    --colors-other-midlight: silver;
    --colors-other-lowlight: #B87333;
}

/*Set globals*/
*{
    /*Get font family*/
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;/**/

    box-sizing: border-box;
}

body {
    background-color: var(--colors-backgrounds-main);
    margin: 0px;

}

header {
    background-color: var(--colors-backgrounds-banners);
    margin-top: 0px;

}

/*Header*/
header span {
    display: block;
    text-align: center;
    margin: auto;
}

/*hypler links in nav tag*/
.navigation {
    background-color: var(--colors-backgrounds-banners);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

/*Main*/

/*Sections*/
.flex-info{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

/*cards general*/
.card {
    width: auto;
    border-style: solid;
    border-radius: 1em;
    border-color: var(--colors-backgrounds-banners);
    border-width: 1pt;
}

.card div h1 {
    position: relative;
    top: 0px;
    text-align: center;
    background-color: var(--colors-backgrounds-banners);
    color: aliceblue;
}
.card img {
    max-height: min-content;
}


.overview{
    display: flex;
    flex-direction: row;
}
.overview img{
    
}

.introduction {
    display: flex;
    flex-direction: column;
}
.introduction img {
    
}
.introduction h3{
    text-align: center;
}


.placeofbirth{
    display: flex;
    flex-direction: row-reverse;
}
/*
.left-card-upper {
    display: flex;
    flex-direction: row;

}
.left-card-upper img {
    max-height:min-content;
    margin-left: 1em;
}

.left-card-lower {
    display: flex;
    flex-direction: column;
    
}

.left-card-lower-flex-row-reversed
{
    display: flex;
    flex-direction: row-reverse;

}

.left-card-lower img {
    max-height: min-content;

    margin-left: 1em;
    opacity: 0.5;
}

.left-card-lower p {
    width: auto;
}

.left-card-lower h3 {

    text-align: center;
    border: 1px solid black;
}
/**/
/*
.right-card {
    margin-left: 0.25em; 
    width: 25%;
    margin-right: 1em; 
}


.left-card-upper,
.left-card-lower,
.right-card {
    margin-top: 1em;
    margin-bottom: 1em;
}/**/
