/*Get vars*/
:root {
    --colors-header-and-footer-banners: rgb(61, 61, 61);
    --colors-navigation-bar-background: black;
    --colors-navigation-bar-foreground: white;
    --colors-body-right-sidebar: white;
    --colors-body-left-sidebar: lightgray;
    --colors-header-and-footer-text: white;
}



* {
    margin: 0;
    padding: 0;
    font-family: serif;
    /*Use any serifed font for the main body*/
    font-size: 12pt;
}

header {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--colors-header-and-footer-text);
    background-color: var(--colors-header-and-footer-banners);
}

/*Get the hyperlink tags to match the following output: @see https: //byui-cse.github.io/wdd131-ww-course/week01/prepare-layout-review.html*/
.navigation {
    margin-top: 5em;
    padding: 1em;
    position: relative;
    list-style: none;
    /*Removes the bullets on the list items...*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--colors-navigation-bar-background);
}

.navigation a {
    color: var(--colors-navigation-bar-foreground);
    font-family: Arial, Helvetica, sans-serif;

}


header h1,
main h1,
main aside,
footer h1 {
    font-weight: lighter;
    padding: 1em;
}

.sidebar-grid {
    display: grid;
    grid-template: auto auto auto auto;
    min-height: 50vh;
}

#left-sidebar {
    background: var(--colors-body-left-sidebar);
    grid-column: 1 / 3;
}

#right-sidebar {
    background: var(--colors-body-right-sidebar);
    grid-column: 3 / 4;
}

footer {
    padding: 1em;
    margin-top: auto;
    color: var(--colors-header-and-footer-text);
    background: var(--colors-header-and-footer-banners);
    min-height: 20vh;
    height: auto;
    text-align: center;

    bottom: 0;
}